<!--main-section-start-->
<section class="main-section paddind" id="Portfolio">
<div class="container">
    <h2>Portfolio</h2>
    <h6>Fresh portfolio of designs that will keep you wanting more.</h6>
    <div class="portfolioFilter">
        <ul class="Portfolio-nav wow fadeIn delay-02s">
            <li><a href="javascript:void(0);" data-filter="*" class="current">All</a></li>
            <li><a href="javascript:void(0);" data-filter=".branding">Branding</a></li>
            <li><a href="javascript:void(0);" data-filter=".webdesign">Web design</a></li>
            <li><a href="javascript:void(0);" data-filter=".mobile">Mobile design</a></li>
            <li><a href="javascript:void(0);" data-filter=".photography">Photography</a></li>
        </ul>
    </div>

</div>
<div class="portfolioContainer wow fadeInUp delay-04s">
    <div class=" Portfolio-box webdesign mobile">
        <a href="https://cb-media.github.io/krenova-magelang/" target="_blank"><img src="img/portfolio-01.png" alt=""></a>
        <h3>Krenova Magelang</h3>
        <p>Web &amp; Mobile Friedly</p>
    </div>
    <div class="Portfolio-box webdesign branding mobile">
        <a href="https://cb-media.github.io/bp2gaki/" target="_blank"><img src="img/portfolio-2.png " alt=""></a>
        <h3>Kemenkes RI</h3>
        <p>Web &amp; Mobile Friedly</p>
    </div>
    <div class=" Portfolio-box webdesign">
        <a href="http://simpelbang.blorakab.go.id" target="_blank"><img src="img/portfolio-3.png " alt=""></a>
        <h3>Simpelbang Blora</h3>
        <p>Branding Web Application</p>
    </div>
    <div class=" Portfolio-box webdesign mobile">
        <a href="https://cb-media.github.io/krenova-kabupaten-temanggung/" target="_blank"><img src="img/portfolio-4.png " alt=""></a>
        <h3>Krenova Temanggung</h3>
        <p>Web &amp; Mobile Friedly</p>
    </div>
    <div class=" Portfolio-box branding">
        <a href="https://cb-media.github.io/krenova-kabupaten-temanggung/admin-panel/" target="_blank"><img src="img/portfolio-5.png " alt=""></a>
        <h3>Admin Panel Krenova Temanggung</h3>
        <p>Web Application</p>
    </div>
    <div class=" Portfolio-box branding">
        <a href="javascript:void(0);"><img src="img/portfolio-6.png " alt=""></a>
        <h3>CB Media Group</h3>
        <p>Branding</p>
    </div>
</div>
</section>
<!--main-section-end-->